name: Deploy to Render

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set version tag
        id: vars
        run: echo "TAG=v${{ github.run_number }}" >> $GITHUB_OUTPUT

      - name: Login to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/pautr0n/blackjack-api:${{ steps.vars.outputs.TAG }} .
          docker tag ghcr.io/pautr0n/blackjack-api:${{ steps.vars.outputs.TAG }} ghcr.io/pautr0n/blackjack-api:latest

      - name: Push Docker image (versioned)
        run: docker push ghcr.io/pautr0n/blackjack-api:${{ steps.vars.outputs.TAG }}

      - name: Push Docker image (latest)
        run: docker push ghcr.io/pautr0n/blackjack-api:latest

      - name: Trigger Render Deploy
        run: |
          curl -X POST \
          -H "Accept: application/json" \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
          https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID }}/deploys